    /* Global Styling  */
    .title{
      display: none;
    }
    .photo-gallery-tablet{
        display: none;
    }

    .tablet-skip{
        display: none;
    }

    #skip {
      position: absolute;
      top: -500px;
   }
   
   #skip:focus {
      top: 10px;
   }

    body{
        color:black;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        padding: 10px;
        background-color: #dddddd;
    }
    
    h1{
        font-size: 270%;
        font-weight: bolder;
        text-align: center;
        animation: 3s slide_in;
    }
    
    @keyframes slide_in{
        from{
            margin-left: -100%;
        }
    }
    
    h2{
        font-size: 200%;
        color: black ;
        text-align: center;
        font-weight: bold ;
        padding-top: 5px;
    }
    
    h3{
        font-size: 200%;
        color: black;
        text-align: center;
        padding-top: 5px;
    }
    
    p{
        line-height: 120%;
        
    }
    
    @media (prefers-reduced-motion: reduce){
        h1{
            animation: none;
        }
    }

    #jump{
        font-weight: bolder;
    }

    #skip-to{
        color: blue;
    }

    #skip-to>ul>li{
        list-style: disc;
        margin-left: 15px;
        padding-top: 5px;
    }


    nav>ul>li {
        text-align: center;
        padding: 5px;
        margin: 5px;
        font-size: 15px;
        border-radius: 5px;
        border: 2px solid black;
        background-color: white;
        width: 100px;
        
        }   

    li:hover{
        color: black;
    }

    #current{
        background-color: #666666;
        color: white;
        text-transform: uppercase;
        font-weight: bold;
    }

    #HeaderContent{
        float: right;
        border-radius: 5px;
        border: 2px solid black;
        background-color: white;
        scroll-behavior: smooth;
    }

    @media (prefers-reduced-motion: reduce) {
        #HeaderCOntent {
            scroll-behavior:auto;
        }
    }

    hr{
        border: .5px solid #808080;
    }

    #HeaderContent{
        display: flex;
        flex-direction: column;
    }

    h3{
        font-size: 1.5em;
    }

    p{
        padding: 10px;
    }

    .gallery{
        position: relative;
        border: 5px solid #ffffff;
      }


    /* Travel Styling */

    .ImageContainer{
        display: grid;
        grid-template-columns: auto auto auto;
    }
    .ImageContainer> div> img{
        border: 5px solid #ffffff;
    }

    #gallery-italy{
        position: relative;
        border: 5px solid #666666;
    }

    .lastLine{
        padding-bottom: 30px;
    }

    figure{
        text-align: center;
        font-size: 13px;
    }

    .no_motion{
        display: none;
    }

    @media (prefers-reduced-motion: reduce) {
        .motion{
            display: none;
        }
        .no_motion{
            display: block;
        }
    }
   
    
    
    
    
    
    

    /* Recipe Styling */

    #gallery-chips{
        position: relative;
        border: 5px solid #666666;
    }

    .ingredients>li{
        padding-top: 5px;
        margin-left: 25px;
        list-style: disc;
    }

    .steps>li{
        padding-top: 5px;
        margin-left: 25px;
        list-style: decimal;
    }

    .textContainer{
        text-align: center;
    }


   /* Pet Styling */

    .likes{
        padding-top: 5px;
        margin-left: 25px;
        list-style: disc;
    }




    @media (min-width:768px){
      .title{
        display: none;
      }
        /* General Styling for tablet view */
        .main-image{
            margin-left: 23%;
        }

        .video-font{
            font-size: 20px;
        }

        h3{
            font-weight: bolder;
        }

        #skip:focus{
            display: block
        }

        /* Disable showing the phone type photo gallery */
        .photo-gallery-phone{
            display: none;
        }
        /* Show the tablet type photo gallery */
        .photo-gallery-tablet{
            display: contents;
        }


        body{
            max-width: 778px;
        }
    
        /* Style for the header/nav */

        #HeaderContent{
            float: none;
            width: 110px;
            margin-left: 43%;
        }
    
        nav>ul>li {
            margin-top: 15px;
            margin-left: 10%;
            display: inline-block;
            width: 150px;
            font-size: 25px;
            }
    
        #jump{
                font-size: 20px;
            }
        
        #skip-to{
                font-size: 20px;
            }
    
        p { font-size: 15px;}

        /* Make the images next to eachother */
        .imageLeft> img {
            width: 500px;
            height: 290px;
            margin-left: 20px;}

        .imageRight> img {
            width: 500px;
            height: 290px;
            margin-left: 20px;}

        .mobile-skip{
            display: none;
        }

        .tablet-skip{
            display: block;
            font-size: 1.2em;
        }

        /* Dropdown Button */
        .dropbtn {
            background-color: #04AA6D;
            color: white;
            padding: 16px;
            font-size: 16px;
            border: none;
        }
  
        .dropdown {
            position: relative;
            display: inline-block;
        }
  
        .skip-to {
            display: none;
            position: absolute;
            background-color: #f1f1f1;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }
  
        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }
  
        .dropdown-content a:hover {background-color: #ddd;}
  
        .dropdown:hover .dropdown-content {display: block;}
  
        .dropdown:hover .dropbtn {background-color: #3e8e41;}


        /* Style for new photo gallery */

        .column {
            float: left;
            width: 20%;
            height: 80px;
            padding: 10px;
          }
        
          .column img {
            opacity: 0.8;
            cursor: pointer;
          }
          
          .column img:hover {
            opacity: 1;
          }

         /* Style the images inside the grid when there is 3 photos */
          .column-3images {
            float: left;
            width: 20%;
            height: 100px;
            padding: 10px;
            margin-left: 77px;
          }
          
          .column-3images img {
            opacity: 0.8;
            cursor: pointer;
          }

          .column-3images img:hover {
            opacity: 1;
          }

          
          

         /* Style the images inside the grid for pets page*/
          .column-pets {
            float: left;
            width: 20%;
            height: 100px;
            padding: 10px;
            margin-left: 35px;
          }

          .column-pets img {
            opacity: 0.8;
            cursor: pointer;
          }
          
          .column-pets img:hover {
            opacity: 1;
          }

          


          /* Styling for recipe photo gallery */
          .column-recipe {
            float: left;
            width: 20%;
            height: 100px;
            padding: 10px;
            margin-left: 77px;
          }

          .column-recipe img {
            opacity: 0.8;
            cursor: pointer;
          }
    
          .column-recipe img:hover {
            opacity: 1;
          }
          
            /* Clear floats after the columns */
          .row:after {
            content: "";
            display: table;
            clear: both;
          }
          
            /* The expanding image container (positioning is needed to position the close button and the text) */
          .container{
            position: relative;
            display: none;
            margin-left:25px ;
          }
          
          /* Styling for the text when the images pops up */
          #imgtext-zion {
            position: absolute;
            bottom: 15px;
            left: 15px;
            color: white;
            background-color: grey;
            font-size: 20px;
          }

          #imgtext-jun {
            position: absolute;
            bottom: 15px;
            left: 15px;
            color: white;
            background-color: grey;
            font-size: 20px;
          }


          #imgtext-rome {
            position: absolute;
            bottom: 15px;
            left: 15px;
            color: white;
            background-color: grey;
            font-size: 20px;
          }


          #imgtext-ys{
            position: absolute;
            bottom: 15px;
            left: 15px;
            color: white;
            background-color: grey;
            font-size: 20px;
          }

          #imgtext-cookie{
            position: absolute;
            bottom: 15px;
            left: 15px;
            color: white;
            background-color: grey;
            font-size: 20px;
          }

          #imgtext-tb{
            position: absolute;
            bottom: 15px;
            left: 15px;
            color: white;
            background-color: grey;
            font-size: 20px;
          }

          #imgtext-scampi{
            position: absolute;
            bottom: 15px;
            left: 15px;
            color: white;
            background-color: grey;
            font-size: 20px;
          }

          #imgtext-finn{
            position: absolute;
            bottom: 15px;
            left: 15px;
            color: white;
            background-color: grey;
            font-size: 20px;
          }

          #imgtext-daisy{
            position: absolute;
            bottom: 15px;
            left: 15px;
            color: white;
            background-color: grey;
            font-size: 20px;
          }

          #imgtext-terry{
            position: absolute;
            bottom: 15px;
            left: 15px;
            color: white;
            background-color: grey;
            font-size: 20px;
          }

          #imgtext-bacon{
            position: absolute;
            bottom: 15px;
            left: 15px;
            color: white;
            background-color: grey;
            font-size: 20px;
          }

          #imgtext-luna{
            position: absolute;
            bottom: 15px;
            left: 15px;
            color: white;
            background-color: grey;
            font-size: 20px;
          }

          #imgtext-bear{
            position: absolute;
            bottom: 15px;
            left: 15px;
            color: white;
            background-color: grey;
            font-size: 20px;
          }

          #imgtext-mini{
            position: absolute;
            bottom: 15px;
            left: 15px;
            color: white;
            background-color: grey;
            font-size: 20px;
          }
          
          /* Close button for recipe photos */
          .closebtn-recipe {
            position: absolute;
            top: 10px;
            right: 15px;
            color: white;
            background-color: grey;
            font-size: 35px;
            cursor: pointer;
          }
            /* Closable button inside the image */
          .closebtn {
            position: absolute;
            top: 10px;
            right: 15px;
            color: white;
            font-size: 35px;
            cursor: pointer;
          }

        /* Close button for recipe photos */
        .closebtn-recipe {
            position: absolute;
            top: 10px;
            right: 15px;
            color: white;
            background-color: grey;
            font-size: 35px;
            cursor: pointer;
          }

    }

    @media (min-width: 1200px){
      .title{
        font-size:40px;
        display:block;
      }

      h1{
        margin-left:0% ;
        font-size: 100px;
      }

      h2{
        font-size: 60px;
        /* margin-left: 48%; */
        
      }

      h3{
        font-weight: bolder;
        font-size: 33px;
      }

         /* General Styling for Desktop view */
         .main-image{
          margin-left: 37%;
      }

      .video-font{
          font-size: 20px;
      }

      /* Disable showing the phone type photo gallery */
      .photo-gallery-phone{
          display: none;
      }

      /* Show the tablet type photo gallery */
      .photo-gallery-tablet{
          display: contents;
      }

      body{
          max-width: none;
      }
  
      /* Style for the header/nav */

      #HeaderContent{
          float: none;
          width: 110px;
          margin-left: 45.5%;
      }

      header{
        background-image: url('../images/nav_background.avif');
      }
     
  
      nav>ul>li {
          margin-top: 15px;
          display: inline-block;
          width: 125px;
          font-size: 25px;
          }

      nav>ul{
        margin-left: 20%;
      }
  
      #jump{
              font-size: 30px;
          }
      
      #skip-to{
              font-size: 30px;
          }
  
      p { 
        border:solid white 2px;
        border-radius: 15px; 
        font-size: 20px;
      }

      /* Make the images next to eachother */
      .imageLeft> img {
          width: 500px;
          height: 350px;
          margin-left: 200px;
        }

      .imageRight> img {
          width: 500px;
          height: 350px;
          margin-right: 200px;
          
        }

      .mobile-skip{
          display: none;
      }

      .tablet-skip{
          display: block;
          font-size: 1.2em;
      }
    


      .column {
      float: left;
      width: 20%;
      height: 150px;
      padding: 10px;
      }
  
      .column img {
      opacity: 0.8;
      cursor: pointer;
      }
    
      .column img:hover {
      opacity: 1;
      }

      /* Style the images inside the grid when there is 3 photos */
      .column-3images {
        float: left;
        width: 20%;
        height: 150px;
        padding: 10px;
        margin-left: 140px;
      }
    
      .column-3images img {
        opacity: 0.8;
        cursor: pointer;
      }

      .column-3images img:hover {
      opacity: 1;
      }

      /* Styling for recipe photo gallery */
      .column-recipe {
        float: left;
        width: 20%;
        height: 150px;
        padding: 10px;
        margin-left: 140px;
      }

      .column-recipe img {
        opacity: 0.8;
        cursor: pointer;
      }

      .column-recipe img:hover {
        opacity: 1;
      }
    
      /* Clear floats after the columns */
      .row:after {
        content: "";
        display: table;
        clear: both;
      }


     /* Style the images inside the grid for pets page*/
      .column-pets {
        float: left;
        width: 20%;
        height: 150px;
        padding: 10px;
        margin-left: 65px;
      }

      .column-pets img {
        opacity: 0.8;
        cursor: pointer;
      }
    
      .column-pets img:hover {
        opacity: 1;
      }

      /* The expanding image container (positioning is needed to position the close button and the text) */
      .container{
        position: relative;
        display: none;
        margin-left:490px ;
        height: 500px;
        width: 500px;
      }
    
      /* Styling for the text when the images pops up */
      #imgtext-zion {
        position: relative;
      }

      #imgtext-jun {
        position: relative;
      }


      #imgtext-rome {
        position: relative;
      }

      #imgtext-ys{
        position: relative;
      }

      #imgtext-cookie{
        position: relative;
      }

      #imgtext-tb{
        position: relative;
      }

      #imgtext-scampi{
        position: relative;
      }

      #imgtext-finn{
        position: relative;
      }

      #imgtext-daisy{
        position: relative;
      }

      #imgtext-terry{
        position: relative;
      }

      #imgtext-bacon{
        position: relative;
      }

      #imgtext-luna{
        position: relative;
      }

      #imgtext-bear{
        position: relative;
      }

      #imgtext-mini{
        position: relative;
      }



      .video-container {
        display: grid;
        grid-template-columns: 1fr 1fr; 
        gap: 20px;
        margin: 20px;
      }
      .video-container figure {
        margin: 0; 
      }
      .video-container video {
        width: 100%;
        height: 500px; 
      }
      .video-font {
        text-align: center;
      }
    }  
  